#character {
    position: relative;
    height: 200px;
    margin-top: 20px;
    overflow: hidden;
}

.image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -100px;
    width: 200px;
    /* start outside the right side */
}